@charset "UTF-8";

html {
	font-size: 10px;
}

:root {
	/* Primary (Blue-Gray) */
	--primary-100: #E8EEF2;
	--primary-300: #A6BCC9;
	--primary-500: #415E72;
	--primary-700: #2E4554;
	--primary-900: #16212A;

	/* Gray (Cool Neutral) */
	--gray-000: #FFFFFF;
	--gray-100: #F7F9FA;
	--gray-300: #E1E5E8;
	--gray-500: #9DA3AA;
	--gray-700: #4E545C;
	--gray-900: #1F2327;

	/* Danger */
	--danger-delete: #EF85A0;
    --danger-clear: #E34F7A;

	/* Font families */
	--font-body: 'Tinos', sans-serif;
	--font-heading: 'Merriweather', sans-serif;

	/* Typography Scale */
	--fs-p: 1.8rem;
	--fs-h2: 2.9rem;
	--fs-h1: 4.7rem;

	/* Spacing Scale */
	--space-1: 0.9rem;
	--space-2: 1.8rem;
	--space-3: 2.9rem;
	--space-4: 4.7rem;
	--space-5: 7.6rem;

	/* Border Radius Scale */
	--radius-1: 0.4rem;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--gray-100);
	font-size: var(--fs-p);
	font-family: var(--font-body);
	color: var(--gray-900);
	margin: 0;
}

.header {
	background-color: var(--primary-500);
	color: var(--gray-000);
	padding: var(--space-2) 0;
}

.header__container,
.main__container,
.footer__container {
	width: 60%;
	margin: 0 auto;
}

.main {
	padding: var(--space-4) 0;
}

.main__container {
	display: flex;
	gap: var(--space-2);
}

.task-board,
.add-task {
	flex: 1;
	padding: var(--space-2) var(--space-3);
}

.task-board {
	background-color: var(--primary-100);
	color: var(--primary-900);
	border-radius: var(--radius-1);
}

.task-board__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-board__clear-button {
	background-color: var(--danger-clear);
	color: var(--gray-000);
	display: block;
	border: none;
	border-radius: var(--radius-1);
	padding: var(--space-1) var(--space-2);
	font-size: var(--fs-p);
	font-family: var(--font-body);
	cursor: pointer;
}

.task-board__title,
.add-task__title {
	font-size: var(--fs-h2);
	margin: var(--space-1) 0 var(--space-2) 0;
	font-family: var(--font-heading);
	font-weight: 700;
}

.task-board__list {
	list-style: none;
	padding: 0;
}

.add-task__input-group {
	display: flex;
	gap: var(--space-1);
	margin-top: var(--space-2);
}

.add-task__input {
	flex: 1;
	border: 1px solid var(--primary-500);
	border-radius: var(--radius-1);
	padding: var(--space-1) var(--space-2);
	font-size: var(--fs-p);
	font-family: var(--font-body);
}

.add-task__button {
	background-color: var(--primary-500);
	color: var(--gray-000);
	border: none;
	border-radius: var(--radius-1);
	padding: var(--space-1) var(--space-2);
	font-size: var(--fs-p);
	font-family: var(--font-body);
	cursor: pointer;
}

.task-board__list {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.task-board__item {
	padding: 0 0 var(--space-2) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray-000);
	border-radius: var(--radius-1);
	padding: var(--space-1);
}

.task-board__delete-btn {
	background-color: var(--danger-delete);
	color: var(--gray-000);
	border: none;
	border-radius: var(--radius-1);
	padding: var(--space-1) var(--space-2);
	font-size: var(--fs-p);
	font-family: var(--font-body);
	cursor: pointer;
}

.task-board__delete-btn:active {
  transform: translateY(3px);
  box-shadow: none;
}

.task-board__checklist-item {
	display: flex;
	align-items: center;
	flex: 1;
}

.task-board__text {
	display: flex;
	gap: var(--space-1);
	line-height: 1;
}

.task-board__checkbox {
	appearance: none;
}

.task-board__custom-checkbox {
	display: block;
	border-radius: var(--radius-1);
	border: 1px solid var(--primary-300);
	width: 1.8rem;
	height: 1.8rem;
	background-color: var(--gray-000);
	margin: 0 var(--space-1) 0 0;
}

.task-board__checkbox:checked+.task-board__custom-checkbox {
	background-color: var(--primary-500);
	border: 1px solid var(--primary-500);
}

.task-board__checkbox:checked+.task-board__custom-checkbox::before {
	content: '\F272';
	font-family: 'bootstrap-icons';
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.8rem;
	height: 1.8rem;
	color: var(--gray-000);
}

.task-board__checkbox:checked~.task-board__text {
	text-decoration-line: line-through;
	color: var(--gray-500);
}

.footer {
	background-color: var(--primary-500);
}

.footer__copyright {
	color: var(--gray-000);
	text-align: center;
	padding: var(--space-2) 0;
	display: block;
}